a:link {
	color: purple;
	text-decoration: none;
}
a:visited {
	color: white;

}
a:hover {
	color: green;
}

a:active {
	color: white;
}


body {
background-color: lightgray;
}

h1 {
 font-family: "optima", sans-serif;
 font-size: 45px;

text-align: center;
color: purple;
position: relative;
top: 200px;
}

#introp {
position: relative;
text-align: left;

}



#outer {
    width: 30%;
	/*text-align: center;*/
	margin: auto;
	position: relative;
	top: 385px;
	padding-bottom: 80px;
}

p {
	font-family: "century schoolbook", "garamond", serif;
 font-size: 18px;
	text-indent: 40px;

}