a:link {
	color: black;
	text-shadow: -1px -1px rgb(255, 255, 255), 1px -1px rgb(255, 255, 255), -1px 1px rgb(255, 255, 255), 1px 1px rgb(255, 255, 255);

	text-decoration: none;
}
a:visited {
	color: black;

}
a:hover {
	color: rgb(255, 255, 255);
}

a:active {
	color: rgb(255, 255, 255);
	text-shadow: -20px -20px rgb(255, 255, 255), 20px -20px rgb(255, 255, 255), -20px 20px rgb(255, 255, 255), 20px 20px rgb(255, 255, 255);

	text-decoration: none;
}


body {
	background-color: black;

}



h1 {
 

}


p {
	

}


#introp {


}



#outer {
   font-family: Verdana, Helvetica, sans-serif;
 	font-size: 20px;
	text-align: center;
	color: black;
	position: relative;
	top: 100px;
	text-align: center;
}



#header {
	font-family: Verdana, Helvetica, sans-serif;
 	font-size: 45px;
 	
	text-align: center;
	color: black;
	position: relative;
	top: 100px;

}

#header:hover {
text-shadow: -1px -1px rgb(255, 255, 255), 1px -1px rgb(255, 255, 255), -1px 1px rgb(255, 255, 255), 1px 1px rgb(255, 255, 255);
color: white;
}






