a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: red;
}

a:active {
	color: white;
}


body {
background-color: rgb(11, 11, 27);
}

@font-face { font-family: 'arial black'; src: url('ArialBlack.eot') format('embedded-opentype'), url('ArialBlack.woff') format('woff'), url('ArialBlack.ttf') format('truetype'), /*url('../fonts/BigCaslon-Medium.svg#BigCaslon-Medium') format('svg');*/ font-weight: normal; font-style: normal; }
@font-face { font-family: 'Arial Rounded MT Bold'; src: url('ArialRoundedBold.eot') format('embedded-opentype'), url('ArialRoundedBold.woff') format('woff'), url('ArialRoundedBold.ttf') format('truetype'), /*url('../fonts/BigCaslon-Medium.svg#BigCaslon-Medium') format('svg');*/ font-weight: normal; font-style: normal; }




p {
	font-family: "Arial Rounded MT Bold", "helvetica", sans-serif;
 	font-size: 1.63vw;
	text-align: center;
	position: relative;
	color: gray;
}


.main {
	top: 50%;
	transform: translateY(-50%);
	clip-path: circle(15vw at center);
	margin: 0 auto;
 	width: 43.3%;
 	overflow:hidden;
	position: fixed;
    left: 0;
    right: 0;
 
}

.darkorange {
	color: brown;
}


.gray {
	color: lightgray;
}


.animation-container {
	position: fixed;
	width: 100%;
}

.slide-right {
 
}

.slide-right p {
	animation: 10s slide-right linear infinite;
	margin:0;

}

@keyframes slide-right { 
  from {
    transform: translateX(100%);
   }
  to {
    transform: translateX(-100%);
  } 
}

.slide-right-clone {
  
}

.slide-right-clone p {
	opacity: 0;
	animation: 10s slide-right-clone linear infinite;
	animation-delay: 5s;
	margin: 0 auto;
}

@keyframes slide-right-clone { 
  from {
    transform: translateX(100%);
   }
  to {
    transform: translateX(-100%);
  }
}


