a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: red;
}

a:active {
	color: white;
}


body {
background-color: rgb(11, 11, 27);
}

@font-face { font-family: 'arial black'; src: url('ArialBlack.eot') format('embedded-opentype'), url('ArialBlack.woff') format('woff'), url('ArialBlack.ttf') format('truetype'), /*url('../fonts/BigCaslon-Medium.svg#BigCaslon-Medium') format('svg');*/ font-weight: normal; font-style: normal; }
@font-face { font-family: 'Arial Rounded MT Bold'; src: url('ArialRoundedBold.eot') format('embedded-opentype'), url('ArialRoundedBold.woff') format('woff'), url('ArialRoundedBold.ttf') format('truetype'), /*url('../fonts/BigCaslon-Medium.svg#BigCaslon-Medium') format('svg');*/ font-weight: normal; font-style: normal; }




p {
	font-family: "Arial Rounded MT Bold", "helvetica", sans-serif;
 	font-size: 1.63vw;
	text-align: center;
	position: relative;
	color: rgb(185,225,225);
}

.svgtitana {
	position: fixed;
	width: 9%;
	font-family: "Arial Rounded MT Bold", "helvetica", sans-serif;
 	color: lightgray;
 	letter-spacing: 2.6px;
 	top: 50%;
	transform: translateY(-50%);

	margin: 0 auto;
	left: 0;
    right: 0;
     transform-origin: 50% 0%;
    animation: orbittitan 12s linear infinite; 

}

.svgtitana text {
	fill: lightgray;
}



@keyframes orbittitan {
    from { transform:rotate(120deg) translateX(37.65vw) ; }
    to   { transform: rotate(480deg) translateX(37.65vw) ; }
}

.svgoberon {
	position: fixed;
	width: 9%;
	font-family: "Arial Rounded MT Bold", "helvetica", sans-serif;
 	color: lightgray;
 	letter-spacing: 4.4px;
 	top: 50%;
	transform: translateY(-50%);

	margin: 0 auto;
	left: 0;
    right: 0;
     transform-origin: 50% 0%;
    animation: orbitlap 5s linear infinite; 

}

.svgoberon text {
	fill: lightgray;
}



@keyframes orbitlap {
    from { transform:rotate(0deg) translateX(47vw) ; }
    to   { transform: rotate(360deg) translateX(47vw) ; }
}



.svgumbri {
	position: fixed;
	width: 9%;
	font-family: "Arial Rounded MT Bold", "helvetica", sans-serif;
 	color: lightgray;
 	letter-spacing: 6.1px;
 	top: 50%;
	transform: translateY(-50%);

	margin: 0 auto;
	left: 0;
    right: 0;
     transform-origin: 50% 0%;
    animation: orbit 9s linear infinite; 

}

.svgumbri text {
	fill: lightgray;
}

.svg {
	position: fixed;
	width: 60%;
	font-family: "Arial Rounded MT Bold", "helvetica", sans-serif;
 	
 	letter-spacing: 4.2px;
 	top: 50%;
 	margin: 0 auto;
	left: 0;
    right: 0;
	transform: rotateX(75deg)  translateY(-193%);
	animation: spinrin 8s linear infinite; 
}

.svg text {
	fill: lightcyan;

}

@keyframes orbit {
    from { transform:rotate(240deg) translateX(28vw) ; }
    to   { transform: rotate(600deg) translateX(28vw) ; }
}


@keyframes spinring {
    from { transform:rotateY(0deg)  rotateX(75deg) ; }
    to   { transform: rotateY(360deg)  rotateX(75deg) ; }
}

.main {
	top: 50%;
	transform: translateY(-50%);
	clip-path: circle(15vw at center);
	margin: 0 auto;
 	width: 45vw;
 	height: 30vw;
 	overflow:hidden;
	position: fixed;
    left: 0;
    right: 0;
 
}



.animation-container {
	position: fixed;
	width: 100%;
}

.slide-right {
 
}

.slide-right p {
	animation: 10s slide-right linear infinite;
	margin:0 auto;

}

@keyframes slide-right { 
  from {
    transform: translateY(-100%);
   }
  to {
    transform: translateY(100%);
  } 
}

.slide-right-clone {
  
}

.slide-right-clone p {
	opacity: 0;
	animation: 10s slide-right-clone linear infinite;
	animation-delay: 5s;
	margin: 0 auto;
}

@keyframes slide-right-clone { 
  from {
    transform: translateY(-100%);
   }
  to {
    transform: translateY(100%);
  }
}


