a:link {
	color: red;
	text-decoration: none;
	
}

a:visited {
	color: red;
}

a:hover {
	opacity: .75;
	
}

a:active {
	color: white;
	opacity: 1;
}

@font-face { font-family: 'AGaramondPro-Regular'; src: url('assets/fonts/AGaramondPro-Regular.eot') format('embedded-opentype'), url('assets/fonts/AGaramondPro-Regular.woff') format('woff'), url('assets/fonts/AGaramondPro-Regular.ttf') format('truetype'), /*url('../fonts/BigCaslon-Medium.svg#BigCaslon-Medium') format('svg');*/ font-weight: normal; font-style: normal; }


body {
background-color: rgb(5, 40, 13);
}

#arrowleft {
position: fixed;
left: 2.5%;
bottom: 0%;


}

#arrowright {
position: fixed;
right: 2.5%;
bottom: 0%;


}

 /*.arrow {
	position: absolute;
	top: 50%;
	width: 3vmin;
	height: 3vmin;
	background: transparent;
	border-top: 1vmin solid white;
	border-right: 1vmin solid white;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
	
	&.left {
		left: 0;
		transform: translate3d(0,-50%,0) rotate(-135deg);
	}

	&.right {
		right: 0;
		transform: translate3d(0,-50%,0) rotate(45deg);
	}
	
	&:hover {
		border-color: orange;
		box-shadow: 0.5vmin -0.5vmin 0 white;
	}
	
	&:before { // for better hit area
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-40%,-60%) rotate(45deg);
		width: 200%;
		height: 200%;
	}
}*/


#mid{
	position: relative;
text-align: center;
left: 10%;

}

#ool {
text-align: left;

}

#found
{
left: 5%;

}


#forestdark {
 
	text-align: right;
}

#dark {
	text-shadow: 4px 4px 2px red;
}

#for {
	text-align: right;
}

#strght {
position: relative;
right: 10%;
width: 15%;
margin: auto;
text-align: center;
}


#straight {
position: relative;
text-align: left;

}


#frwrd {
position: relative;
right: 25%;
width: 15%;
margin: auto;
text-align: center;

}


#forward {
position: relative;
text-align: left;

}

#p {
position: relative;

}


#a  {
position: relative;
left: 3%;
width: 15%;
}


#t {
position: relative;
left: 6%;
width: 15%;
}


#h {
position: relative;
left: 9%;
width: 15%;
}


#w {
position: relative;
left: 12%;
width: 15%;
}

#a2 {
position: relative;
left: 15%;
width: 15%;
}


#y {
position: relative;
left: 18%;
width: 15%;
}

#had {

	position: relative;
	text-align: center;
}

#been {
position: relative;
	text-align: right;

}

#lost {
position: relative;
	text-align: left;

}

#lost2 {
opacity: .66;
}


#lost3 {
opacity: .33;
}

p {
position: relative;

	color: white;

font-family: "AGaramondPro-Regular", serif;
font-size: 30px;
}

#textspace {
	position: relative;

	top: 80px;
width: 80%;
padding-bottom: 45%;
margin: auto;
font-family: "AGaramondPro-Regular", serif;
font-size: 25px;
}

h1 {
	width: 100%;
 font-family: "AGaramondPro-Regular", serif;
 font-size: 45px;
position: fixed;
text-align: center;
bottom: -2.5%;

}

.shape {
	width: 100%;
	height: 11%;
left: 0%;
	position: fixed;
	display: inline-block;
	bottom: 0%;
	background-color: rgb(5, 40, 13);
	
}


span {
	float: right;

}

 {
	position: fixed;
	text-align: right;
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent; 
  border-left: 60px solid blue;
  border-right:60px solid blue; 
}




}